@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar-content {
  width: 10rem;
  padding: 0.7rem;
}

.navbar-center {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 0.2rem;
}

.navbar-center img {
  width: 3rem;
}
.highlight-text{
   color: white;
   margin: 9.5rem 0 0 12rem;
   letter-spacing: 0.4rem;

}
.highlight-text p{
    margin: 0;
    padding: 0;
    line-height: 3.8rem;
}
.flat-details{
    color: white;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-right: 2px solid white;
    line-height: 1.6rem;
}
.flat-details:last-child {
    border-right: none;
  }



@media (max-width: 768px) {
  .navbar-content {
    width: auto;
  }

  .navbar-center {
    font-size: 0.7rem;
  }

}
